.container {
  width: 960px;
  margin: auto;
  padding: 50px;
}
.input-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 550px;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}
.form-control {
  width: 300px;
}

.location-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.location-name {

}

.location-dist {

}